<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VendorUploadService.Properties.Settings.ClaimStakerDEVConnectionString"
            connectionString="Data Source=APEXEDI-DEV\APEXEDIDEV;Initial Catalog=ClaimStakerDEV;Persist Security Info=True;User ID=qauser;Password=eclaims1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClaimImportService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.apexedi.com/ClaimImportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimImportService"
                contract="ServiceReference1.IClaimImportService" name="BasicHttpBinding_IClaimImportService" />
        </client>
    </system.serviceModel>
</configuration>